In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('pmdata/p01/fitbit/calories.csv',
                 skiprows=0)

In [6]:
print(df)

        Unnamed: 0             dateTime  value
0                0  2019-11-01 00:00:00   1.39
1                1  2019-11-01 00:01:00   1.39
2                2  2019-11-01 00:02:00   1.39
3                3  2019-11-01 00:03:00   1.39
4                4  2019-11-01 00:04:00   1.39
...            ...                  ...    ...
218875      218875  2020-03-31 23:55:00   1.38
218876      218876  2020-03-31 23:56:00   1.38
218877      218877  2020-03-31 23:57:00   1.38
218878      218878  2020-03-31 23:58:00   1.52
218879      218879  2020-03-31 23:59:00   3.31

[218880 rows x 3 columns]

In [7]:
import plotly.express as px

In [12]:
#!pip install streamlit

In [10]:
import streamlit as st

In [ ]:
st.set_page_config(page_title="Fitbit Dashboard",
                   page_icon=':bar_chart:',
                   layout='wide')

In [11]:
st.dataframe(df)

2023-09-29 23:49:46.558
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /Users/hassan/Library/Python/3.11/lib/python/site-packages/ipykernel_launcher.py [ARGUMENTS]

DeltaGenerator()

In [27]:
print("S")

S

In [30]:
df

        Unnamed: 0             dateTime  value
0                0  2019-11-01 00:00:00   1.39
1                1  2019-11-01 00:01:00   1.39
2                2  2019-11-01 00:02:00   1.39
3                3  2019-11-01 00:03:00   1.39
4                4  2019-11-01 00:04:00   1.39
...            ...                  ...    ...
218875      218875  2020-03-31 23:55:00   1.38
218876      218876  2020-03-31 23:56:00   1.38
218877      218877  2020-03-31 23:57:00   1.38
218878      218878  2020-03-31 23:58:00   1.52
218879      218879  2020-03-31 23:59:00   3.31

[218880 rows x 3 columns]

In [48]:
date=pd.to_datetime(df['dateTime'], utc=False).dt.date
df["date"]=date

In [ ]:

st.sidebar.header('please Filter Data Here')

Date= st.sidebar.multiselect(
'Select The Date',
options=date.unique(),
default=date.unique()   
)

In [47]:
time=pd.to_datetime(df['dateTime'], utc=False).dt.time
df["time"]=time

In [41]:

st.sidebar.header('please Filter Data Here')

Time= st.sidebar.multiselect(
'Select The Time',
options=time.unique(),
default=time.unique()   
)

In [50]:
hour=pd.to_datetime(df['dateTime'], utc=False).dt.hour
df["hour"]= hour

In [43]:

Hour= st.sidebar.multiselect(
'Select The Hour',
options=hour.unique(),
default=hour.unique()   
)

0          0
1          0
2          0
3          0
4          0
          ..
218875    23
218876    23
218877    23
218878    23
218879    23
Name: dateTime, Length: 218880, dtype: int32

In [ ]:
df_selection= df.query(

    "hour== @Hour & time==@Time"
)

In [ ]:
st.dataframe(df_selection)

In [53]:
!ls

FitbitConformalPredictionExplanation.pdf
app.py
app2.py
dash copy.ipynb
dash.ipynb
data
exam2.ipynb
exam2_transform.ipynb
exam2_v2.ipynb
export
fitbit
models
pmdata
pmdata.zip

In [54]:
pwd()

'/Users/hassan/Desktop/Study/BDS2/as2'

In [57]:
df

        Unnamed: 0             dateTime  value participants
0                0  2019-11-05 00:00:00   1.15          p07
1                1  2019-11-05 00:01:00   1.15          p07
2                2  2019-11-05 00:02:00   1.15          p07
3                3  2019-11-05 00:03:00   1.15          p07
4                4  2019-11-05 00:04:00   1.15          p07
...            ...                  ...    ...          ...
212811      212811  2020-03-31 18:51:00   1.15          p07
212812      212812  2020-03-31 18:52:00   1.15          p07
212813      212813  2020-03-31 18:53:00   1.15          p07
212814      212814  2020-03-31 18:54:00   1.15          p07
212815      212815  2020-03-31 18:55:00   1.15          p07

[212816 rows x 4 columns]

In [58]:
df.columns

Index(['Unnamed: 0', 'dateTime', 'value', 'participants'], dtype='object')