# Data Preperation

## Import Libraries

In [72]:
import numpy as np
import os
import pandas as pd
import json

## Get Participation List

In [73]:


def get_pl(path_xls):
    """
    this is output
    ['p01',
    'p02',
    'p03',
    'p04',
    'p05',
    'p06',
    'p07',
    'p08',
    'p09',
    'p10',
    'p11',
    'p12',
    'p13',
    'p14',
    'p15',
    'p16']
    """
    dfs = pd.read_excel(path_xls, sheet_name=None)
    return list(dfs["Sheet1"]["Unnamed: 0"])[1:]

# JSON TO CSV

In [ ]:

def json_to_csv():
    for pars in get_pl("pmdata/participant-overview.xlsx"):
        print("participant ",pars)
        for files in os.listdir(f'pmdata/{pars}/fitbit/'):
            if files!='sleep_score.csv':
                print("File Name", files)
                with open(f'pmdata/{pars}/fitbit/{files}') as f:
                    data = json.load(f)
                df = pd.json_normalize(data)
                print(df.head())
                df.to_csv(f'pmdata/{pars}/fitbit/{files[:-4]}csv')

In [ ]:
json_to_csv()

## Train and Test CSV Files

In [74]:
import pandas as pd

## Heart rate Calculation

In [76]:
df=pd.read_csv(f'pmdata/p01/fitbit/heart_rate.csv')
df['dateTime'] = pd.to_datetime(df['dateTime']) #if not already as datetime object
grouped = df.groupby(pd.Grouper(key='dateTime', axis=0, freq='T')).mean()
print(grouped.head())

                     Unnamed: 0  value.bpm  value.confidence
dateTime
2019-11-01 00:00:00         4.0  52.777778          3.000000
2019-11-01 00:01:00        12.5  54.000000          3.000000
2019-11-01 00:02:00        20.5  52.500000          3.000000
2019-11-01 00:03:00        30.0  53.636364          3.000000
2019-11-01 00:04:00        40.0  53.555556          2.888889

In [77]:
display(grouped)

                     Unnamed: 0  value.bpm  value.confidence
dateTime
2019-11-01 00:00:00         4.0  52.777778          3.000000
2019-11-01 00:01:00        12.5  54.000000          3.000000
2019-11-01 00:02:00        20.5  52.500000          3.000000
2019-11-01 00:03:00        30.0  53.636364          3.000000
2019-11-01 00:04:00        40.0  53.555556          2.888889
...                         ...        ...               ...
2020-03-31 23:55:00   1573136.5  55.000000          3.000000
2020-03-31 23:56:00   1573142.0  54.800000          3.000000
2020-03-31 23:57:00   1573147.5  56.000000          3.000000
2020-03-31 23:58:00   1573154.5  55.125000          3.000000
2020-03-31 23:59:00   1573161.5  55.500000          3.000000

[218880 rows x 3 columns]

## Sample Data Experiment

Aggregating with 5 minutes

In [ ]:
import numpy as np

In [78]:
#Get some data
index = pd.date_range(start='2013-01-01 00:00', end='2013-01-31 00:00', freq='min')
a = np.random.randint(20, high=30, size=(len(index),1))
b = np.random.randint(14440, high=14449, size=(len(index),1))
df = pd.DataFrame(np.concatenate((a,b), axis=1), index=index, columns=['id','val'])
df.head()

                     id    val
2013-01-01 00:00:00  22  14448
2013-01-01 00:01:00  29  14444
2013-01-01 00:02:00  21  14447
2013-01-01 00:03:00  29  14444
2013-01-01 00:04:00  24  14448

In [79]:
#Define function for variance
import numpy as np
def pyfun(X):

    if X.shape[0] <= 1:
        result = np.nan

    else:    
        total = 0
        #print(X.shape)
        for x in X:
            #print(x)
            total = total + x
        mean = float(total) / X.shape[0]
        """ 
        total = 0
        for x in X:
            total = total + (mean-x)**2
        result = float(total) / (X.shape[0]-1)        
        """

        result=mean
        
    return result

#Try it out
df.resample('5min').agg(pyfun)

                       id      val
2013-01-01 00:00:00  25.0  14446.2
2013-01-01 00:05:00  25.6  14445.6
2013-01-01 00:10:00  24.0  14443.2
2013-01-01 00:15:00  24.2  14443.0
2013-01-01 00:20:00  25.6  14445.2
...                   ...      ...
2013-01-30 23:40:00  26.6  14442.2
2013-01-30 23:45:00  24.4  14443.4
2013-01-30 23:50:00  24.2  14442.8
2013-01-30 23:55:00  24.2  14443.8
2013-01-31 00:00:00   NaN      NaN

[8641 rows x 2 columns]

## Applying Same Technique to P01

In [80]:
df=pd.read_csv(f'pmdata/p01/fitbit/heart_rate.csv')
df.head()
#grouped = df.groupby(pd.Grouper(key='dateTime', axis=0, freq='T')).mean()
#print(grouped.head())

   Unnamed: 0             dateTime  value.bpm  value.confidence
0           0  2019-11-01 00:00:05         54                 3
1           1  2019-11-01 00:00:10         52                 3
2           2  2019-11-01 00:00:20         51                 3
3           3  2019-11-01 00:00:25         52                 3
4           4  2019-11-01 00:00:30         51                 3

In [81]:
df['dateTime']=pd.to_datetime(df['dateTime'])

In [82]:
df=df.set_index('dateTime') #if not already as datetime object

In [83]:
df.head()

                     Unnamed: 0  value.bpm  value.confidence
dateTime
2019-11-01 00:00:05           0         54                 3
2019-11-01 00:00:10           1         52                 3
2019-11-01 00:00:20           2         51                 3
2019-11-01 00:00:25           3         52                 3
2019-11-01 00:00:30           4         51                 3

In [84]:
df.resample('5min').agg(pyfun)

                     Unnamed: 0  value.bpm  value.confidence
dateTime
2019-11-01 00:00:00        22.0  53.311111          2.977778
2019-11-01 00:05:00        64.5  53.025000          2.900000
2019-11-01 00:10:00       101.0  54.121212          3.000000
2019-11-01 00:15:00       135.5  53.944444          3.000000
2019-11-01 00:20:00       168.0  54.448276          3.000000
...                         ...        ...               ...
2020-03-31 23:35:00   1572992.0  61.911111          2.911111
2020-03-31 23:40:00   1573034.5  57.225000          2.750000
2020-03-31 23:45:00   1573075.0  57.317073          2.658537
2020-03-31 23:50:00   1573114.5  55.684211          2.947368
2020-03-31 23:55:00   1573149.0  55.290323          3.000000

[43776 rows x 3 columns]

In [85]:
df.loc['2020-03-31']

                     Unnamed: 0  value.bpm  value.confidence
dateTime
2020-03-31 00:00:01     1563363         52                 3
2020-03-31 00:00:06     1563364         54                 3
2020-03-31 00:00:11     1563365         52                 3
2020-03-31 00:00:16     1563366         52                 3
2020-03-31 00:00:26     1563367         51                 3
...                         ...        ...               ...
2020-03-31 23:59:18     1573160         55                 3
2020-03-31 23:59:23     1573161         54                 3
2020-03-31 23:59:33     1573162         56                 3
2020-03-31 23:59:48     1573163         56                 3
2020-03-31 23:59:58     1573164         55                 3

[9802 rows x 3 columns]

## ETL Function

> Resulted Files will be saved in Fitbit ETL Directory

In [ ]:
import os

In [86]:
#datetime zero row
correct_files=['heart_rate.csv']
#other_files=['exercise.csv']
def ETL(dir,participant_list,day,group_minute,col):

    os.makedirs(f"pmdata/{participant_list}/fitbit/ETL",exist_ok=True)


    print("yes")

    for file in correct_files:
        print("File : ", file)
        df=pd.read_csv(f'{dir}/{participant_list}/fitbit/{file}')
            
            # Extracting a Particular Day
         
        print(len(df))
        print(range(len(df)))
        df[col]=pd.to_datetime(df[col])
        df=df.set_index(col)
        df=df.loc[day]
        df= df.resample('5min').agg(pyfun)
        
        #df_list.append(df)
        df.to_csv(f'{dir}/{participant_list}/fitbit/ETL/result_{file}',index=True)
        print("Sucess : File Saved at " , f'{dir}/{participant_list}/fitbit/ETL/result_{file}')

In [87]:
correct_files=['heart_rate.csv']

ETL("pmdata","p01",'2019-11-01',5,"dateTime")

yes
File :  heart_rate.csv
1573165
range(0, 1573165)
Sucess : File Saved at  pmdata/p01/fitbit/ETL/result_heart_rate.csv

# Same Applying to Calories.csv Exercise

In [106]:
correct_files=['calories.csv']

ETL("pmdata","p01",'2019-12-20',5,"dateTime")

yes
File :  calories.csv
218880
range(0, 218880)
Sucess : File Saved at  pmdata/p01/fitbit/ETL/result_calories.csv

## Exercise File

In [96]:
df=pd.read_csv(f'pmdata/p01/fitbit/exercise.csv')

In [103]:
df=df[['startTime','averageHeartRate','calories','duration','activeDuration','steps']]

In [104]:
df['startTime']

0      2019-11-01 14:56:32
1      2019-11-01 19:03:11
2      2019-11-02 13:26:38
3      2019-11-04 21:22:08
4      2019-11-05 19:27:25
              ...
185    2020-03-27 13:07:53
186    2020-03-27 16:22:27
187    2020-03-28 09:58:08
188    2020-03-29 07:42:53
189    2020-03-31 16:51:36
Name: startTime, Length: 190, dtype: object

In [108]:
correct_files=['exercise.csv']

ETL("pmdata","p01",'2019-11-02',5,'startTime')

yes
File :  exercise.csv
190
range(0, 190)
Sucess : File Saved at  pmdata/p01/fitbit/ETL/result_exercise.csv

## Merge CSV Files

In [92]:
for file in correct_files:
    print(file)

exercise.csv

In [93]:
df1.head()

NameError: name 'df1' is not defined

In [94]:
""" 
pd.merge(df1.head(),df2.head(),how='r')
dfs = []
for i in range(13):
    df = ... # However it is that you create your dataframes   
    dfs.append(df)


df1.append(df2)

"""

" \npd.merge(df1.head(),df2.head(),how='r')\ndfs = []\nfor i in range(13):\n    df = ... # However it is that you create your dataframes   \n    dfs.append(df)\n\n\ndf1.append(df2)\n\n"

In [ ]:
def merge_one_file(path):
    """ArithmeticError
    """
    for file in correct_files

# Calibration Size

## tsai

In [ ]:
from tsai.all import *

## Apply RLE

In [ ]:

""" 
correct_files
df1 = pd.read_csv("pmdata/p01/fitbit/processed/Train_calories.csv")
df2 = pd.read_csv("pmdata/p01/fitbit/processed/Test_calories.csv")  
dfs = []
dfs.append(df1)
dfs.append(df2)
df = pd.concat(dfs)
"""


def apply_rle(df,wl,strd):

    #df = pd.read_csv("pmdata/p01/fitbit/processed/Train_calories.csv")
    X = df2xy(df,sample_col=None,feat_col=None)
    X=X[0].reshape(X[0].shape[0],X[0].shape[2])
    window_length = wl
    stride = strd
    n_vars = 3
    t = X
    print(t.shape)
    plt.plot(t)
    plt.show()
    #print(range(0,t.shape[1]))

    print(list(range(0,t.shape[1])))
    X,y= SlidingWindow(window_length, stride=stride,get_x=list(range(0,t.shape[1])),get_y=0)(t)
    return X

## Train Data

In [ ]:
Train_X =[]
Train_Y =[]
for file in correct_files:
    df = pd.read_csv(f"pmdata/p01/fitbit/processed/Train_{file}")
    if file == 'sleep_score.csv':
        X = df2xy(df,sample_col=None,feat_col=None)
        X=X[0].reshape(X[0].shape[0],X[0].shape[2])
        window_length = 5
        stride = 2
        n_vars = 3
        t = X
        print(t.shape)

        print(list(range(0,t.shape[1])))
        X,y= SlidingWindow(window_length, stride=stride,get_x=list(range(0,t.shape[1])),get_y=2)(t)
      
        Train_Y.append(y)
    else:
        Train_X.append(apply_rle(df,5,2))

In [ ]:
Train_Y[0]

## Test Data

In [ ]:
Test_X =[]
Test_Y =[]
for file in correct_files:
    df = pd.read_csv(f"pmdata/p01/fitbit/processed/Test_{file}")
    if file == 'sleep_score.csv':
        X = df2xy(df,sample_col=None,feat_col=None)
        X=X[0].reshape(X[0].shape[0],X[0].shape[2])
        window_length = 5
        stride = 2
        n_vars = 3
        t = X
        print(t.shape)

        print(list(range(0,t.shape[1])))
        X,y= SlidingWindow(window_length, stride=stride,get_x=list(range(0,t.shape[1])),get_y=2)(t)
              
        Test_Y.append(y)
    else:
        Test_X.append(apply_rle(df,5,2))

## Check Train and Test Sizes

In [ ]:
len(Train_X)

In [ ]:
print("Train Sizes ")
for k in range(len(Train_X)):
    print(f'File Name : {correct_files[k]} ' ,Train_X[k].shape)

In [ ]:
print("Train Target Sizes ")
for k in range(len(Train_Y)):
    print(f'File Name : sleep_score.csv ' ,Train_Y[k].shape)

In [ ]:
print("Test Sizes ")
for k in range(len(Test_X)):
    print(f'File Name : {correct_files[k]} ' ,Test_X[k].shape)

In [ ]:
print("Test Sizes ")
for k in range(len(Test_Y)):
    print(f'File Name : sleep_score.csv ' ,Test_Y[k].shape)

## Randomly Selection of Data between [0,1]

In [ ]:
from random import *

### Join Column Wise Data

In [ ]:
Joined_train_X=np.concatenate((train_X[0], train_X[1]), axis=1)
for k in range(2,len(train_X)):
    Joined_train_X=np.concatenate((Joined_train_X,train_X[k]),axis=1)
    print("Updated Shape : ",Joined_train_X.shape)

In [ ]:
Joined_train_Y = train_Y[0]

In [ ]:
Joined_train_X.shape

In [ ]:
Joined_train_X.shape,Joined_train_Y.shape